body{
    background-image: url(../Images/poemBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0776A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff8500;
    font-size: 130%;
}

.mainContent{
    margin-left: 2%;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    width: 50%;
}

h1{
    text-align: center;
    text-shadow: 2px 2px black;
}

h1 + p{
    text-align: center;
    width: 50%;
    margin-left: 37%;
}

img{
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

img + p{
    font-weight: bold;
    font-size: 105%
}

blockquote + p{
    font-weight: bold;
    font-size: 105%;
}

#logo{
    height: 20%;
    width: 25%;
    display: block;
    float: left;
}

@media (max-width: 500px){
   body{
       width: 100%;
       font-size: 100%;
       margin: 0 3% 0 3%;
   }

   img{
       max-width: 100%;
   }

   p{
       inline-size: 70%;
       overflow: visible;
       overflow-wrap: break-word;
   }

   #logo{
       width: 30%;
       height: auto;
   }
}