body{
    background-color: #32120f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a15c34;
    font-size: 150%;
}

#logo{
    width: 25%;
    display: block;
    float: left;
    margin-bottom: 3%;
}

h1{
    text-align: center;
    text-shadow: 2px 2px black;
    overflow: hidden;
}

ul{
    clear: left;
    list-style-type: none;
}

li{
    line-height: 250%;
}

a:link{
    color: #a15c34;
}

a:visited{
    color: #a15c34;
}

a:hover{
    color: #a15c34;
}

a:active{
    color: #a15c34;
}
