body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #32120f;
}

#main{
    margin-left: 2%;
    font-size: 130%;
}
.top{
    margin-top: 10%;
    position: relative;
}

.bottom{
    position: relative;
}

.poetryImg{
    position: absolute;
    top:10%;
    width: 40%;
}


nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;
    background-color: #a15c34;
}

nav ul{
    margin-left: 0;
    padding-left: 0;
}

nav h2{
    text-align: center;
    color: #32120f;
    margin-left: 1%;
    margin-right: 1%;
}

nav li{
    list-style-type: none;
    font-size: 30px;
    display: inline;
    padding-left: 18px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-top: 9px;
    color: white;
}

nav a:link{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;
}

nav li:hover{
    background-color: lighten(#32120f, 20%);
}

#logo{
    width: 25%;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: hidden;
}

#mainContent{
    width: 50%;
    position: relative;
    left: 40%;
    overflow: hidden;
    margin: 0;
    padding: 3%;
    text-align: center;
    background-color: #a15c34;
    color: white;
    border-radius: 50%;
}

#mainContent h2{
    font-family: "Hoefler Text";
    /* position: relative;
    left: 25%; */
}

#mainContent p{
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1.3em;
}

pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 200%;
}

#keyTerms{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: content-box;
    color: white;
    width: 50%;
}

#keyterms dt{
    color: #a15c34; 
}

.fountainPen{
    position: absolute;
    top: 30%;
    left: 55%;
    width: 40%;
}

#bar{
    height: 3px;
    background-color: black;
}

footer{
    margin-top: 1%;
    margin-bottom: 2%;
    clear: left;
    text-align: center;
    font-size: 130%;
}

footer a:link{
    color: #a15c34;
}

footer a:visited{
    color: lightgray;
}

footer a:hover{
    color:rgb(18, 145, 18);
}

footer a:active{
    color: white;
}

@media (max-width: 1024px) and (min-width: 501px){
    
    nav{
        flex-direction: column;
    }
    nav h2{
        margin-top: 1%;
        margin-bottom: 1%;
    }

    nav ul{
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }
    
    nav li{
        font-size: 1.5em;
        display: inline-block;
        border: none;
        padding: none;
        margin: none;
    }

    nav li:first-child{
        border: none;
    }
}

@media (max-width: 500px){

    #main{
        margin-left: 3%;
    }

    #mainContent{
        left:0;
        width: 100%;
        padding: 0;
    }

    #mainContent h2{
        left: 20%;
    }

    #logo{
        width: 50%;
    }

    nav{
        flex-direction: column;
    }
    nav h2{
        margin-top: 1%;
        margin-bottom: 1%;
    }

    nav ul{
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }
    
    nav li{
        font-size: 1.5em;
        border: none;
        display: inline-block;

    }

    nav li:first-child{
        border: none;
    }
}