body{
    background-image: url(/Images/background_Image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0776A0;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff8500;
}

#main{
    margin-left: 15px;
}

a:visited{
    color: darkmagenta;
}

nav a:active{
color: #0776A0;
}

nav{
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -.5%;
    background-color: #ff8500;
}

nav p{
    color: #0776A0;
}

nav h2{
    text-align: center;
    color: #0776A0;
    margin-left: 10px;
}

nav li:first-child{
    border-left: black solid;
}

nav li{
    list-style-type: none;
    font-size: 30px;
    display: inline;
    border-right: black solid;
    padding-left: 18px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-top: 9px;
    color: white;
}

nav a:link{
    text-decoration: none;
    color: white;
}

nav li:hover{
    background-color: #FF9400;
}

#logo{
    width: 25%;
    margin: -1% auto 0 45%;
    display: block;
    overflow: hidden;
}

#mainPage{
    font-size: 130%;
}

#mainContent{
    width: 65%;
    margin: 50px auto 50px 0;
    overflow: hidden;
}

pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 200%;
}

table{
    border: 20px black outset;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5%;
}

.tableHead{
    font-size: 130%;
    padding-bottom: 20px;
}

table td{
    font-size: 130%;
}

#keyTerms{
    margin: 50px auto 50px 0;
    overflow: hidden;
    box-sizing: content-box;
}

#keyterms dt{
    color: white;
}
#extraInfo{
    margin: 2% auto;
    overflow: hidden;
    box-sizing: content-box;  
}

#bar{
    height: 3px;
    background-color: black;
    clear: left;
}

footer{
    margin-top: 1%;
    margin-bottom: 2%;
    clear: left;
    text-align: center;
}

footer a:link{
    color: #ff8500;
}

footer a:visited{
    color: lightgray;
}

footer a:hover{
    color:rgb(18, 145, 18);
}

footer a:active{
    color: white;
}